<mat-card>
    <mat-card-header>
        <mat-card-title>Issue Book Borrow</mat-card-title>
    </mat-card-header>

    <mat-card-content [formGroup]="borrowFormBuilder">

        <mat-form-field>
            <mat-label>Book Title</mat-label>
            <mat-select matSelect formControlName="bookName">
                 <mat-option [value]="bookDetails.title">
                    {{ bookDetails.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>User Name</mat-label>
            <mat-select matSelect formControlName="userName">
                 <mat-option [value]="bookDetails.title" *ngFor="let user of userDetails" [value]="user.userName"  (click)="userSelected(user)">
                    {{ user.userName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="save()" [disabled]="borrowFormBuilder.invalid">Borrow</button>
            <button [mat-dialog-close]="">Close</button>
        </mat-card-actions>

    </mat-card-content>

</mat-card>
