<mat-card>

    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content [formGroup]="loginDetails">

        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" />
            <mat-error>
                Please Enter Valid Email
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" name="password" formControlName="password">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>
                    {{hidePassword ? "visibility_off" : "visibility_on"}}
                </mat-icon>
            </button>
            <mat-error>
                Password must be between 8 and 20 characters long.
            </mat-error>
        </mat-form-field>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="login()" [disabled]="loginDetails.invalid">Login</button>
        </mat-card-actions>

    </mat-card-content>
</mat-card>