//Main Wrapper which contains side nav and all contents
.main-wrapper {
    display: flex;
    flex-direction: row;

    // all side nav contents
    .menu-icon {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .mat-icon {
            color: #ffffff;
        }
    }

    .side-nav {
        background-color: rgba(33,33,33,0.9);
        height: 100vh;
        transition: width 0.3s ease;
        box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
    }

    .short-width-nav {
        width: 5%;
    }

    .long-width-nav {
        width: 15%;
    }

    .side-nav-links {

        .link-urls {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #ffffff;
            border-radius: 10px;
        }

        .mat-icon {
            padding-left: 10px;
            margin-right: 10px;
            font-size: 20px;
        }
    }

    // all main contents
    .main-content {

        background-color: #c8c8d7;
        height: 100vh;
        max-height: 100vh;

        overflow-y: auto;
        overflow-x: hidden;

    }

    .short-width-main {
        width: 85%;
        transition: width 0.3s ease;
    }

    .long-width-main {
        width: 95%;
    }
}

.selected {
    background-color: #00ca80;
}

.main-content-heading {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    z-index: 1;
}

mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-color: rgb(17, 77, 142);
    color: #fff;
}

.mainheader {
    font-size: 25px;
}

.spacer {
    flex: 1; 
}

.logout-tbl {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logout-tbl mat-icon {
    margin-right: 5px;
}
