<div class="book-wrapper">

    <h2>Book Purchased by {{this.currentUser.fullName}}</h2>

    <div class="container">
        <mat-card *ngFor="let book of dataSource; let i = index" class="book-card">
            <div class="card-content">
                <img mat-card-image [src]="bookImages[i]" alt="Book Image">
                <mat-card-content>
                    <div class="book-details">

                        <div class="title">
                            <div class="titleHead">
                                <span class="title">Title:</span>
                            </div>
                            <div class="titleDetail">
                                <span class="value">{{ book.title }}</span>
                            </div>
                        </div>

                        <div class="author">
                            <div class="titleHead">
                                <span class="title">Author:</span>
                            </div>
                            <div class="titleDetail">
                                <span class="value">{{ book.author }}</span>
                            </div>
                        </div>

                        <div class="genre">
                            <div class="titleHead">
                                <span class="title">Genre:</span>
                            </div>
                            <div class="titleDetail">
                                <span class="value">{{ book.genre }}</span>
                            </div>
                        </div>

                    </div>

                </mat-card-content>
            </div>
        </mat-card>
    </div>

</div>