.transaction-wrapper {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);

    background-color: rgb(255, 255, 255);
}

.transaction-wrapper h2 {
    margin-bottom: 20px;
    color: #333;
    margin-left: 3%;
    font-weight: bolder;
}

.transaction-wrapper table {
    width: 100%;
    box-shadow: none;
    border-collapse: collapse;
}

.transaction-wrapper th {
    background-color: rgba(33, 33, 33, 0.8);
    color: #fff
}

.transaction-wrapper tr:nth-child(odd) {
    background-color: rgba(33,33,33,0.3);
}

.transaction-wrapper tr:nth-child(even) {
    background-color: rgba(33,33,33,0.15);
}

.transaction-wrapper .action-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #1976d2;
}

.transaction-wrapper .action-button mat-icon {
    margin-right: 5px;
}

.transaction-wrapper .mat-paginator-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}